* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", serif;

}

::placeholder {
    color: rgb(255, 255, 255);
}

body {
    margin: 0 auto;
}

.container {
    max-width: 920px;
    width: 100;
    margin: 0 auto;
    margin-top: 30px;
}

form {
    background-color: rgb(13, 27, 135);
    padding-top: 20px;

}

form h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

.dados-de-entrada {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-right: 20px;
}

.dados-de-entrada input {
    width: 100%;
    max-width: 150px;
    height: 20px;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    background-color: rgba(7, 87, 156, 0.849);
    font-size: 16px;


}

.dados-de-entrada input:first-child {
    border-right: 1px solid rgb(13, 27, 135);
    border-radius: 4px 0 0 4px;
}

.dados-de-entrada input:last-child {
    border-radius: 0 4px 4px 0;
    border-left: 1px solid rgb(13, 27, 135);
}

.input-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

button {
    border: solid white 1px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgba(7, 87, 156, 0.849);
}

button img {
    width: 40px;
}

h2 {
    text-align: center;
}

table {
    color: rgb(18, 29, 110);
    width: 100%;
    text-align: center;
    background-color: aliceblue;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(219, 226, 251);
}

table td {
    border-bottom: 1px solid rgba(13, 27, 135, 0.304);
    padding-top: 20px;
}

table td:first-child {
    border-right: 1px solid rgba(13, 27, 135, 0.304)
}

span {
    border-bottom: 3px solid rgba(13, 27, 135, 0.733);

}

tr {
    margin-bottom: 30px;
}

th,
td {

    text-align: center;
    width: 50%;
}

#ddd {
    width: 20%;

}

#nome {
    width: 40%;
}

#num {
    width: 40%;
}

.button {}

.valid {}

.error {
    margin-left: 10px;
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 10px;
    padding: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 8, 8);
    display: none;
    position: absolute;
    left: 50px;
}

.button-error {
    display: flex;
    position: relative;
}